<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<head>
	<nav>
  <ul>
    <a href="../valeur/valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li></a>
    <a href="competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
    <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="module">
		<div class="openNav">
			<div class="icon"></div>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<h1 class="titremodule">Compétences</h1>
		<img class="imgvaleur" src="../../img/competences_blanc.png" height="270" width="100%" >
		<a href="/partial/valeur/valeur.html"><p class="nextL"><</p></a>
		<a href="/partial/situation/situation.html"><p class="nextR">></p></a>
	</div>
	</head>
	<body>
		<div class="bando"><p>Je veux...</p></div>
		<a href="sens_definition.html"><div class="case"><p style="font-size:40px;">Donner du sens </p></div></a>
		<a href="energie_definition.html"><div class="case"><p style="font-size:40px;">Transmettre de l'énergie </p></div></a>
		<a href="developper_definition.html"><div class="case"><p style="font-size:40px;">Développer l'exigence </p></div></a>
		<a href="professionnaliser_definition.html"><div class="case"><p style="font-size:40px;">Professionnaliser ses équipes </p></div></a>
		<a href="manager_definition.html"><div class="case"><p style="font-size:40px;">Manager la transversalité </p></div></a>
		<a href="vivre_definition.html"><div class="case"><p style="font-size:40px;">Faire vivre les valeurs </p></div></a>

	</body>
	</div>
	</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});
	
	</script>
</html>

