<html>
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<meta charset="UTF-8">
	<head>
		<div class="module">
				<a href="../competences.html"><span class="arrowl">&larr;</span></a>
			<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
			<h1 class="energie">Développer l'exigence</h1>
			<div class="imgic">
				<a href="developper_definition.html"><img class="defvaleur" src="../../../img/definition.png" height="160" width="160"><p class="defv">Définition</p><li class="dotv"></li></a>
				<a href="developper_comportement.html"><img class="compvaleur" src="../../../img/comportement_blanc.png" height="160" width="160"><p class="compv">Compétences managériales</p></a>
			</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur">Chez SAUR, l’exigence bienveillante c’est :</h3>
			<li class="txtpro">Définir les objectifs accompagnés d’indicateurs de mesure et de délais</li>
			<li class="txtpro">Faire porter l’exigence sur les conditions de succès, les priorités</li>
			<li class="txtpro">Pour favoriser la concentration et éviter l’essoufflement</li>
			<blockquote>Le seul moyen de réduire le stress, c’est d’avoir l’intime conviction avant l’enjeu d’avoir fait tout ce qui était en notre pouvoir pour être prêt</blockquote>
		</ul>
	</body>
</html>