<html>
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<meta charset="UTF-8">
	<head>
		<div class="module" style="background-color: #0A609A;">
				<div class="openNav">
					<a href="../competences.html"><span class="arrowl">&larr;</span></a>
				</div>
				<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
				<h1 class="energie">Donner du sens</h1>
				<div class="imgic">
					<a href="sens_definition.html"><img class="defvaleur" src="../../../img/definition_blanc.png" height="160" width="160"><p class="defv">D&eacute;finition</p><li class="dotv"></li></a>
					<a href="sens_comportement.html"><img class="compvaleur" src="../../../img/comportement.png" height="160" width="160"><p class="compv">Comp&eacute;tences manag&eacute;riales</p></a>
				</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur">Chez SAUR, donner du sens c'est :</h3>
			<li class="txtpro" >Donner du sens au m&eacute;tier</li>
			<li class="txtpro" >Donner du sens à l’action </li>
			<li class="txtpro" >Donner du sens en informant du contexte pour faire le lien entre la strat&eacute;gie de l’entreprise et les actions concr&egrave;tes</li>
			<blockquote>Celui qui poss&egrave;de un pourquoi qui le fait vivre peut supporter tous les comment</blockquote>
		</ul>
	</body>
</html>