<html>
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<meta charset="UTF-8">
	<head>
		<div class="module">
					<a href="../competences.html"><span class="arrowl">&larr;</span></a>
				<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
				<h1 class="energie">Donner du sens</h1>
				<div class="imgic">
					<a href="sens_definition.html"><img class="defvaleur" src="../../../img/definition_blanc.png" height="160" width="160"><p class="defv">Définition</p><li class="dotv"></li></a>
					<a href="sens_comportement.html"><img class="compvaleur" src="../../../img/comportement.png" height="160" width="160"><p class="compv">Compétences managériales</p></a>
				</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur">Chez SAUR, donner du sens c'est :</h3>
			<p class="txtfiche" >Donner du sens au métier</p>
			<p class="txtfiche" >Donner du sens à l’action </p>
			<p class="txtfiche" >Donner du sens en informant du contexte pour faire le lien entre la stratégie de l’entreprise et les actions concrètes</p>
			<blockquote>Celui qui possède un pourquoi qui le fait vivre peut supporter tous les comment</blockquote>
		</ul>
	</body>
</html>