<html>
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<meta charset="UTF-8">
	<head>
		<div class="module" style="background-color: #0A609A;">
			<div class="openNav">
				<a href="../competences.html"><span class="arrowl" >&larr;</span></a>
			</div>
			<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
			<h1 class="energie">Faire vivre les valeurs</h1>
			<div class="imgic">
				<a href="vivre_definition.html"><img class="defvaleur" src="../../../img/definition.png" height="160" width="160"><p class="defv">D&eacute;finition</p>
				<a href="vivre_comportement.html"><img class="compvaleur" src="../../../img/comportement_blanc.png" height="160" width="160"><p class="compv">Comp&eacute;tences manag&eacute;riales</p>><li class="dotc"></li></a>
			</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur" style="font-size:40px;">Les comp&eacute;tences manag&eacute;riales n&eacute;cessaires :</h3>
		</ul>	
		<a href="../fiche_savoirexpliquer.html"><div class="case"><p style="text-align: initial;">Savoir expliquer les valeurs</p></div></a>
		<a href="../fiche_savoirrappeler.html"><div class="case"><p style="text-align: initial;">Savoir rappeler une r&egrave;gle sans d&eacute;motiver</p></div></a>
		<a href="../fiche_savoirrecadrer.html"><div class="case"><p style="text-align: initial;">Savoir regarder les d&eacute;ries</p></div></a>
		<a href="../fiche_savoirtraiterconflit.html"><div class="case"><p style="text-align: initial;">Savoir traiter un conflit entre deux collaborateurs</p></div></a>
	</body>
</html>