<html>
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<meta charset="UTF-8">
	<head>
	<nav>
  <ul>
    <a href="../valeur/valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li></a>
    <a href="competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
     <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="module" style="background-color: #0A609A;">
		<div class="openNav">
			<span class="arrowz" style="color:white" onclick="history.go(-1)">&larr;</span>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<div class="energie"><h1>Développer l'exigence bienveillante</h1></div>
		<div class="imgic">
			<a href="developper_definition.html"><img class="def" src="../../img/definition_blanc.png" height="160" width="160"><p class="defp">Définition</p><li class="dot1"></li></a>
			<a href="developper_comportement.html"><img class="comp" src="../../img/comportement.png" height="160" width="160"><p class="compp">Compétences managériales</p></a>
			<a href="developper_fiches.html"><img class="fic" src="../../img/ficheoutil.png" height="160" width="160"><p class="ficp">Fiche outils</p></a>
		</div>
	</div>
	</head>
	<body>
		<div class="interet">
					<ul class="ulfiche">
						<h3 class="chezsaur">Chez SAUR, l’exigence bienveillante c’est :</h3>
						<li class="txtfiche">Définir les objectifs accompagnés d’indicateurs de mesure et de délais</li>
						<li class="txtfiche">Faire porter l’exigence sur les conditions de succès, les priorités</li>
						<li class="txtfiche">Pour favoriser la concentration et éviter l’essoufflement</li>
						<blockquote>Le seul moyen de réduire le stress, c’est d’avoir l’intime conviction avant l’enjeu d’avoir fait tout ce qui était en notre pouvoir pour être prêt</blockquote>
					</ul>
			</div>
	</body>
	</div>
</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});

	</script>
</html>