<html>
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<meta charset="UTF-8">
	<head>
	<nav>
  <ul>
    <a href="../valeur/valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li></a>
    <a href="competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
     <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="module" style="background-color: #0A609A;">
		<div class="openNav">
			<div class="icon"></div>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<div class="energie"><h1>Transmettre de l'énergie</h1></div>
		<div class="imgic">
			<a href="energie_definition.html"><img class="defvaleur" src="../../img/definition.png" height="160" width="160"><p class="defv">Définition</p>
			<a href="energie_comportement.html"><img class="compvaleur" src="../../img/comportement_blanc.png" height="160" width="160"><p class="compv">Compétences managériales</p>><li class="dotc"></li></a>
		</div>
	</div>
	</head>
	<body>
					<ul class="ulfiche">
						<h3 class="chezsaur">Chez SAUR, un manager qui donne du sens :</h3>
					</ul>	
							<a href="fiche_savoirvaloriserindividu.html"><div class="case"><p style="text-align: initial;">Savoir valoriser individuellement</p></div></a>
							<a href="fiche_savoirmesurercollectif.html"><div class="case"><p style="text-align: initial;">Savoir mesurer le progrès en collectif</p></div></a>
							<a href="fiche_savoirfetersucces.html"><div class="case"><p style="text-align: initial;">Savoir fêter le succés</p></div></a>	
	</div>
</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});

	</script>
</html>