<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="../../js/jquery-2.2.3.min.js"></script>
	<head>
	<nav>
  <ul>
    <a href="../valeur/valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li></a>
    <a href="competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
     <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="bar" style="background-color: #0A609A;">
		<div class="openNav">
			<div class="icon"></div>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<div class="titrecate"><h1>Manager la transversalité</h1></div></div>
	</head>
	<body>
			<div class="ficheslide">
				<a href=#><p class="nextL"><</p></a>
				<a href=#><p class="nextR">></p></a>
				<h1 class="titrefiche">Savoir animer un groupe de travail transverse</h1>
			</div>
			
			<div class="bookmark"><img class="fav" src="../../img/fav_vide.png" height="62" width="100%"></div>
			<div class="interet" style="overflow-x: auto;">
					<ul class="ulfiche">									
						<li class="txtfiche">Présenter le sujet aux participants, le rendu final attendu à la fin de la réunion, et la règle du jeu : « Toutes les idées sont bienvenues à-priori, le tri se fait à la fin »</li>
						<li class="txtfiche">Présenter les services/territoires présents autour de la table</li>
						<li class="txtfiche">Poser une question précise au groupe, écrite sur un support</li>	
						<li class="txtfiche">Animer les interventions :</li>
							<ul class="ulfiche">									
								<li class="txtfiche">Valoriser la première proposition</li>
								<li class="txtfiche">Écrire l’ensemble des propositions – en cas de groupes multiples, avoir un support identique à remplir pour favoriser les restitutions</li>
								<li class="txtfiche">Écrire avec les mots exacts des participants</li>	
								<li class="txtfiche">Reprendre les propositions et opérer un tri selon différents critères : chronologique, facilité de mise en œuvre…</li>		
								<li class="txtfiche">Reformuler la synthèse des décisions prises</li>	
			
							</ul>					
					</ul>
			</div>
			<div class="bfooter">
					<h3 class="titrefoot">Comment procéder ?</h3>
					<a href="fiche_savoiranimer.html"><img  class="imgfoot1" src="../../img/3.png" height="117" width="100%"></a>
					<a href="fiche_savoiranimera.html"><img class="imgfoot2" src="../../img/4.png" height="117" width="100%"></a>
					<a href="fiche_savoiranimerb.html"><img class="imgfoot3" src="../../img/2_blanc.png" height="117" width="100%"></a>
					<a href="fiche_savoiranimerc.html"><img class="imgfoot4" src="../../img/1.png" height="117" width="100%"></a>
				</div>
			</div>
	</body>
	</div>
	</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});

	</script>
</html>