<html>
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<meta charset="UTF-8">
	<head>
	<nav>
  <ul>
    <a href="../valeur/valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li></a>
    <a href="competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
     <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="module" style="background-color: #0A609A;">
		<div class="openNav">
			<div class="icon" onclick="history.go(-1)"></div>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<div class="energie"><h1>Faire vivre les valeurs</h1></div>
		<div class="imgic">
			<a href="vivre_definition.html"><img class="def" src="../../img/definition_blanc.png" height="160" width="160"><p class="defp">Définition</p><li class="dot1"></li></a>
			<a href="vivre_comportement.html"><img class="comp" src="../../img/comportement.png" height="160" width="160"><p class="compp">Compétences managériales</p></a>
			<a href="vivre_fiches.html"><img class="fic" src="../../img/ficheoutil.png" height="160" width="160"><p class="ficp">Fiche outils</p></a>
		</div>
	</div>
	</head>
	<body>
		<div class="interet">
					<ul class="ulfiche">
						<h3 class="chezsaur">Chez SAUR, faire vivre les valeurs c’est:</h3>
						<li class="txtfiche">Incarner les valeurs SAUR</li>
						<li class="txtfiche">Communiquer et fédérer les collaborateurs autour des 6 valeurs fondatrices</li>
						<li class="txtfiche">Pour motiver, fédérer et créer une dynamique, un esprit d’équipe tourné vers un objectif commun
</li>
						<blockquote>L’exemplarité n’est pas la meilleure façon d’influencer les autres c’est la seule </blockquote>
					</ul>
			</div>
	</body>
	</div>
</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});

	</script>
</html>