<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<script src="../../../js/jquery-2.2.3.min.js"></script>
<script src="../../../js/favoris.js"></script>
	<head>
		<div class="bar" style="background-color: #0A609A;">
			<a href="../competences.html"><span class="arrowl">&larr;</span></a>
			<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
			<h1 class="titrecate">Manager la transversalité</h1>
		</div>
	</head>
	<body>
		<div class="ficheslide">
			<a href="../fiche_piloter/fiche_savoirpiloter.html"><p class="nextL"></p></a>
			<a href="../fiche_gerer/fiche_savoigerer.html"><p class="nextR"></p></a>
			<h1 class="titrefiche" id="savoiranimer">Savoir animer un groupe de travail transverse</h1>
		</div>
		<div class="bookmark"><img class="fav" src="../../../img/fav_vide.png" height="62" width="100%"></div>
		<div class="interet" >
			<ul class="ulfiche">									
				<li class="txtpro">Présenter le sujet aux participants, le rendu final attendu à la fin de la réunion, et la règle du jeu : « Toutes les idées sont bienvenues à-priori, le tri se fait à la fin »</li>
				<li class="txtpro">Présenter les services/territoires présents autour de la table</li>
				<li class="txtpro">Poser une question précise au groupe, écrite sur un support</li>	
				<li class="txtpro">Animer les interventions :</li>
					<ul class="ulfiche">									
						<li class="txtpro">Valoriser la première proposition</li>
						<li class="txtpro">Écrire l’ensemble des propositions – en cas de groupes multiples, avoir un support identique à remplir pour favoriser les restitutions</li>
						<li class="txtpro">Écrire avec les mots exacts des participants</li>	
						<li class="txtpro">Reprendre les propositions et opérer un tri selon différents critères : chronologique, facilité de mise en œuvre…</li>		
						<li class="txtpro">Reformuler la synthèse des décisions prises</li>	
					</ul>					
			</ul>
		</div>
		<div class="bfooter">
				<h3 class="titrefoot">Quelles circonstances ?</h3>
				<a href="fiche_savoiranimer.html"><img  class="imgfoot1" src="../../../img/3.png" height="117" width="100%"></a>
				<a href="fiche_savoiranimera.html"><img class="imgfoot2" src="../../../img/4.png" height="117" width="100%"></a>
				<a href="fiche_savoiranimerb.html"><img class="imgfoot3" src="../../../img/2_blanc.png" height="117" width="100%"></a>
				<a href="fiche_savoiranimerc.html"><img class="imgfoot4" src="../../../img/1.png" height="117" width="100%"></a>
		</div>
	</body>
</html>