<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
		<head>
			<div class="bar">
				<a href="../competences.html"><span class="arrowl">&larr;</span></a>
				<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
				<h1 class="titrecate">Développer l'exigence bienveillante</h1>
			</div>
		</head>
		<body>
			<div class="ficheslide">
				<a href="../fiche_fixer_obj/fiche_savoirfixerobjectif.html"><p class="nextL"></p></a>
				<a href="../fiche_concentrer_energie/fiche_savoirconcentrerenergie.html"><p class="nextR"></p></a>
				<h1 class="titrefiche">Savoir formaliser une lettre de mission</h1>
			</div>
			<div class="bookmark"><img class="fav" src="../../../img/fav_vide.png" height="62" width="100%"></div>
			   <div class="interet">
					<ul class="ulfiche">
						 <li class="txtpro" >Préparer le canevas dans les grandes lignes :</li>
									<ul class="ulfiche">
										<li class="txtpro">Missions et indicateurs</li>
										<li class="txtpro">Les responsabilités propres à chaque mission</li>							
									</ul>
								<li class="txtpro">Organiser un entretien avec le collaborateur : identification des actions à conduire par responsabilités et fixation des objectifs avec indicateurs</li>
								<li class="txtpro">Pilotage mensuel par le manager : suivi des axes de progrès</li>						
								<li class="txtpro">.Caractéristiques d’une lettre de mission :</li>
									<ul class="ulfiche">
										<li class="txtpro">Personnalisée</li>
										<li class="txtpro">Actualisée régulièrement</li>	
										<li class="txtpro">Dynamique: verbes d’action conjugués</li>							
									</ul>				
						<li class="txtpro" style="margin-bottom: 51px;">Définir l’indicateur : fait ou chiffre qui dira que l’objectif est atteint</li>
						<li class="txtpro">Définir le délai : date à laquelle sera constatée l’atteinte de l’indicateur</li>
					</ul>
			</div>	
			<div class="bfooter">
					<h3 class="titrefoot">Quelles circonstances ?</h3>
					<a href="fiche_savoirrealiserdebriefing.html"><img  class="imgfoot1" src="../../../img/3.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefinga.html"><img class="imgfoot2" src="../../../img/4.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefingb.html"><img class="imgfoot3" src="../../../img/2_blanc.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefingc.html"><img class="imgfoot4" src="../../../img/1.png" height="117" width="100%"></a>
				</div>
		</body>
</html>