<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
		<head>
			<div class="bar">
				<a href="../competences.html"><span class="arrowl">&larr;</span></a>
				<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
				<div class="titrecate"><h1>Manager la transversalité</h1></div>
			</div>
		</head>
		<body>
			<div class="ficheslide">
				<a href="../fiche_animer/fiche_savoiranimer.html"><p class="nextL"></p></a>
				<a href="../fiche_piloter/fiche_savoirpiloter.html"><p class="nextR"></p></a>
				<h1 class="titrefiche">Savoir gérer les intéractions avec d'autres services</h1>
			</div>
			<div class="bookmark"><img class="fav" src="../../../img/fav_vide.png" height="62" width="100%"></div>
			   <div class="interet">
					<ul class="ulfiche">
                        <li class="txtfiche">La question : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">Si précise : y répondre</li>
								<li class="txtpro"> Si imprécise : « creuser » « C’est-à-dire ? » puis répondre ou demander un délai </li>			
							</ul>					
					</ul>
					<ul class="ulfiche">									
						<li class="txtpro">L'objection : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">« Creuser » l’objection pour faire préciser la situation, apporter des faits, pour valoriser et comprendre : « C’est-à-dire ? »</li>
								<li class="txtpro"> Reformuler pour montrer que l’on a compris : « Tu penses que …» </li>
								<li class="txtpro"> Reformuler la part de vérité dans ses propos : « Il est vrai que …»</li>	
								<li class="txtpro"> Ajouter ses arguments en complément : « Je pense que …»</li>	
			
							</ul>					
					</ul>
					<ul class="ulfiche">									
						<li class="txtpro">L'agression : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">Faire la distinction entre le fond et la forme : « Si je comprends le fond, la forme que vous utilisez n’est pas acceptable »</li>
								<li class="txtpro"> Repréciser l’objectif de la relation ainsi que le sens </li>
								<li class="txtpro"> Inviter à reformuler le propos</li>			
							</ul>		
					</ul>
			</div>	
			<div class="bfooter">
					<h3 class="titrefoot">Quelles circonstances ?</h3>
					<a href="fiche_savoirrealiserdebriefing.html"><img  class="imgfoot1" src="../../../img/3.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefinga.html"><img class="imgfoot2" src="../../../img/4.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefingb.html"><img class="imgfoot3" src="../../../img/2_blanc.png" height="117" width="100%"></a>
					<a href="fiche_savoirrealiserdebriefingc.html"><img class="imgfoot4" src="../../../img/1.png" height="117" width="100%"></a>
				</div>
		</body>
</html>

<li class="txtfiche">La question : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">Si précise : y répondre</li>
								<li class="txtpro"> Si imprécise : « creuser » « C’est-à-dire ? » puis répondre ou demander un délai </li>			
							</ul>					
					</ul>
					<ul class="ulfiche">									
						<li class="txtpro">L'objection : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">« Creuser » l’objection pour faire préciser la situation, apporter des faits, pour valoriser et comprendre : « C’est-à-dire ? »</li>
								<li class="txtpro"> Reformuler pour montrer que l’on a compris : « Tu penses que …» </li>
								<li class="txtpro"> Reformuler la part de vérité dans ses propos : « Il est vrai que …»</li>	
								<li class="txtpro"> Ajouter ses arguments en complément : « Je pense que …»</li>	
			
							</ul>					
					</ul>
					<ul class="ulfiche">									
						<li class="txtpro">L'agression : </li>						
							<ul class="ulfiche">									
								<li class="txtpro">Faire la distinction entre le fond et la forme : « Si je comprends le fond, la forme que vous utilisez n’est pas acceptable »</li>
								<li class="txtpro"> Repréciser l’objectif de la relation ainsi que le sens </li>
								<li class="txtpro"> Inviter à reformuler le propos</li>			
							</ul>		