<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="../../js/jquery-2.2.3.min.js"></script>
	<head>
		<div class="module" style="background-color: #0A609A;">
			<a href="valeur.html"><span class="arrowl" >&larr;</span></a>
				<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
			<h1 class="energie">Le pragmatisme</h1>
			<div class="imgic">
				<a href="pragmatisme1.html"><img class="defvaleur" src="../../img/definition_blanc.png" height="160" width="160"><p class="defv">Définition</p><li class="dotv"></li></a>
				<a href="pragmatisme.html"><img class="compvaleur" src="../../img/comportement.png" height="160" width="160"><p class="titrecompvaleur">Comportements managériaux</p></a>
			</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur">Chez SAUR, le pragmatisme, c'est :</h3>
			<li class="txtfiche" style="font-size:26px;">Comprendre mon domaine de responsabilité</li>
			<li class="txtfiche" style="font-size:26px;">Apporter des solutions simples et efficaces</li>
			<li class="txtfiche" style="font-size:26px;">Connaître les basiques métier</li>
		</ul>
	</body>
</html>