<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="../../js/jquery-2.2.3.min.js"></script>
	<head>
		<div class="module" style="background-color: #0A609A;">
				<a href="valeur.html"><span class="arrowl" >&larr;</span></a>
			<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
			<h1 class="energie">La responsabilité</h1>
			<div class="imgic">
				<a href="responsabilite1.html"><img class="defvaleur" src="../../img/definition.png" height="160" width="160"><p class="defv">Définition</p><li class="dotv"></li></a>
				<a href="responsabilite.html"><img class="compvaleur" src="../../img/comportement_blanc.png" height="160" width="160"><p class="titrecompvaleur">Comportements managériaux</p></a>
			</div>
		</div>
	</head>
	<body>
		<ul class="ulfiche">
			<h3 class="chezsaur">Chez SAUR, la responsabilité, c'est :</h3>
			<li class="txtfiche" style="font-size:24px">Assumer ses décisions</li>
			<li class="txtfiche" style="font-size:24px">Être l'ambassadeur de l'entreprise </li>
			<li class="txtfiche" style="font-size:24px">Décider et répondre de ses actes  </li>
			<li class="txtfiche" style="font-size:24px">Avoir le courage d'agir  </li>
		</ul>
	</body>
</html>


