<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/index.css">
<script src="../../../js/jquery-2.2.3.min.js"></script>
<script src="../../../js/favoris.js"></script>
	<head>
		<div class="bar" style="background-color: #0A609A;">
		<a href="../competences.html"><span class="arrowl">&larr;</span></a>
		<img class="imgsaur" src="../../../img/saur_logo_blanc.png" height="110" width="100%">
		<h1 class="titrecate">Professionnaliser ses équipes</h1></div>
	</head>
	<body>
		<div class="ficheslide">
			<a href=../fiche_traiter_err/fiche_savoirtraitererreur.html><p class="nextL"></p></a>
			<a href=../fiche_realiser_deb/fiche_savoirrealiserdebriefing.html><p class="nextR"></p></a>
			<h1 class="titrefiche" id="savoirbriefercollaborateur">Briefer un collaborateur avant une action de jeu</h1>
		</div>
		
		<div class="bookmark"><img class="fav" src="../../../img/fav_vide.png" height="62" width="100%"></div>
		<div class="interet">
			<ul class="ulfiche">									
				<li class="txtpro">Présenter la mission, préciser l’objectif avec indicateur et délai et faire le lien avec le projet de territoire ou de service</li>
				<li class="txtpro">Ecouter le collaborateur: « Comment vois-tu ça ? »</li>
				<li class="txtpro">Reformulation et validation des doutes: : « C’est normal de …»</li>
				<li class="txtpro">Construire le plan d’actions :  « Comment tu vas t’y prendre ? »</li>
				<li class="txtpro">Aider le collaborateur à identifier les conditions de succès : « D’après toi qu’est-ce qui va être le plus important? »</li>
				<li class="txtpro">Validation finale : « Est-ce que tu as des questions ? » et prise de RDV débriefing</li>
			</ul>					
		</div>
		<div class="bfooter">
				<h3 class="titrefoot">Quelles circonstances ?</h3>
				<a href="fiche_savoirbriefercollaborateur.html"><img  class="imgfoot1" src="../../../img/3.png" height="117" width="100%"></a>
				<a href="fiche_savoirbriefercollaborateura.html"><img class="imgfoot2" src="../../../img/4.png" height="117" width="100%"></a>
				<a href="fiche_savoirbriefercollaborateurb.html"><img class="imgfoot3" src="../../../img/2_blanc.png" height="117" width="100%"></a>
				<a href="fiche_savoirbriefercollaborateurc.html"><img class="imgfoot4" src="../../../img/1.png" height="117" width="100%"></a>
			</div>
		</div>
	</body>
</html>