<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<head>
	<nav>
  <ul>
    <a href="valeur.html"><img class="imgmenu" src="../../img/valeurs_blanc.png" height="110" width="100%"><li class="limenu">Valeurs</li><a/>
    <a href="../competences/competences.html" ><img class="imgmenu" src="../../img/competences_blanc.png" height="110" width="100%" ><li class="limenu">Compétences</li></a>
    <a href="../situation/situation.html"><img class="imgmenu" src="../../img/situations_blanc.png" height="110" width="100%" ><li class="limenu">Situations</li></a>
    <a href=""><img class="imgmenu" src="../../img/actus_blanc.png"><li class="limenu">Actualités</li></a>
	<a href=""><img class="imgmenu" src="../../img/coeur_blanc.png"><li class="limenu">Favoris</li></a>
  </ul>
	<div class="wrapper">
	<div class="module">
		<div class="openNav">
			<div class="icon"></div>
		</div>
		<img class="imgsaur" src="../../img/saur_logo_blanc.png" height="110" width="100%">
		<h1 class="titremodule">Valeurs</h1>
		<img class="imgvaleur" src="../../img/valeurs_blanc.png" height="270" width="100%" >
		<a href="/partial/situation/situation.html"><p class="nextL"><</p></a>
		<a href="/partial/competences/competences.html"><p class="nextR">></p></a>
	</div>
	</head>
	<body>
		<div class="bando"><p>Je veux...</p></div>
		
		<a href="responsabilite1.html" ><div class="case"><p style="font-size:40px;">La responsabilité ...</p></div></a>
		<a href="transparence1.html" ><div class="case"><p style="font-size:40px;">La transparence ...</p></div></a>
		<a href="proximite1.html" ><div class="case"><p style="font-size:40px;">La proximité ...</p></div></a>
		<a href="solidarite1.html" ><div class="case"><p style="font-size:40px;">La solidarité ...</p></div></a>
		<a href="pragmatisme1.html" ><div class="case"><p style="font-size:40px;">Le pragmatisme ...</p></div></a>
		<a href="sensduservice1.html" ><div class="case"><p style="font-size:40px;">Le sens du service ...</p></div></a>
	</body>
	</div>
	</nav>
	<script>
	$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});
	
	</script>
</html>

