<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Folks</title>
        <link href="../web/CSS/home.css" rel="stylesheet" type="text/css">
        <script src="../web/JS/jquery-2.2.2.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="cadre_first"> 
            <div class="titre_folks"><img src="../web/img/logo.png" width="102" height="30" alt=""/></div>
            <div class="menu"><img src="../web/img/menu.png" width="39" height="27" alt=""/></div>
            <div class="cadre_body">
                <div class="icone_scroll">
                    <div id="section1" class="container-fluid">
                        <h1>Section 1</h1>
                        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                    </div>
                    <div id="section2" class="container-fluid">
                        <div class="text-center">
                            <p>Vous avez décidé de RECRUTER ?</p>
                            <p>Vous avez un PROJET DE COMMUNICATION ?</p>
                        </div>
                    </div>
                    <div id="section3" class="container-fluid">
                        <div class="text-center">
                            <h1>Qu'est ce que Folks ?</h1>
                            <p>Conscient qu'une agence de communication classique ne suffit plus,</p>
                            <p>nous sommes la seule agence française à vous proposer</p>
                            <p>une expertise de recrutement dans le secteur de la communication</p>
                        </div>
                    </div>
                    <div id="section4" class="container-fluid">
                        <div class="text-center">
                            <h1>Section 4 Submenu 1</h1>
                            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                        </div>
                    </div>
                </div>
                <ul class="cadre_img">
                    <li class="consulting"><img src="../web/img/FOLKS-Perso4-blc2.png" width="380" height="525" alt="consulting"/></li>
                    <li class="staffing"><img src="../web/img/FOLKS-Perso6-blc.png" width="400" height="450" alt="staffing"/></li>
                    <li class="Management"><img src="../web/img/FOLKS-Perso5-blc.png" width="460" height="490" alt="management"/></li>
                    <li class="reference"><img src="../web/img/FOLKS-Perso3-blc.png" width="400" height="466" alt="reference"/></li>
                    <li class="contact"><img src="../web/img/FOLKS-Perso2-blc2.png" width="360" height="447" alt="contact"/></li>
                </ul>
            </div>
        </div>
    </body>
</html>
