@charset "utf-8";

.cadre_first
{
    background-color:white;	
    width:100%;
    height:1014px;

}

.titre_folks{
    float:left;	
    position:fixed;
    margin-left:50px;
}

.menu {
    float:right;
    position:relative;
}

.cadre_img{
    display:inline-flex;

}

.consulting{

    float:left;
    position:fixed;
    bottom:0px;
    z-index:10;
    height:445px;
    left:50px;

}

.staffing{
    float:left;
    position:fixed;
    z-index:5;
    left:373px;
    bottom:0px;
    height:371px;

}

.Management{
    float:left;
    z-index:6;
    left:737px;
    bottom:0px;	
    height:490px;
    position:fixed;
}

.reference{
    float:right;
    position:fixed;
    right:384px;
    bottom:0px;
    height:387px;
    z-index:7;
}

.contact{
    float:right;
    right:50px;
    position:fixed;
    bottom:0px;
    height:368px;
    z-index:8;

}

.consulting img {

    vertical-align:bottom;	
}

ul
{
    list-style-type: none;
    width:1900px;
}

body{
    height:1000px;	
}

.cadre_body {
    /* Anciens navigateurs */
    display:flex;
    position:relative;
    width:94%;
    margin-right:50px;
    margin-left:50px;
    height:929px;
}

#section1 {
    padding-top:50px;
    height:1000px;
    width: 500px;
    color: #fff;
    background-color: #ffffff;
}

#section2 {
    padding-top:50px;
    height:1000px;
    width: 2000px;
    color: #000000;
    background-color: #ffffff;
}

#section3 {
    padding-top:50px;
    height:1000px;
    color: #000000;
    background-color: #ffffff;
}

#section4 {
    padding-top:50px;
    height:1000px;
    color: #fff;
    background-color: #00bcd4;
}

