


/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family: 'Roboto', sans-serif;
}




/* Portrait layout (default) */
.app {
   background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 57%;
    background-size: 62%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.bloc1{
	margin-left:200px;
	margin-right:200px;
	
}

img{
	width:100%;
	height:auto;
	
}

.valeur{
	left: 15%;
    position: absolute;
    top: 23%;
    width: 20%;
	
}
.competence{
    right: 20%;
    top: 23%;
    width: 20%;
    position: absolute;
	
}

.actualite{
	position: absolute;
    left: 5%;
    width: 20%;
    bottom: 28%;
	
}

.favoris{
	position: absolute;
    bottom: 28%;
    width: 20%;
    right: 10%;
}

.solutions{
	position: absolute;
    bottom: 20%;
    width: 20%;
    left: 37%;
}

.bando{
	width:100%;
	height:13%;
	display: inline-table;
	text-align:center;
	background-color: #edf3ff;
}

.case p{
	padding: 15px;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
	color: #2e427e;
	
}

.bando p {
	font-size: 1.2em;
    margin: 20px;
    color: #304682;
    font-family: 'Roboto', sans-serif;
	
}

.case{
	width:100%;
	height: 13%;
	text-align:center;
	border: 1px solid #D3D9E4;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #edf3ff;
    -moz-box-shadow: 0px 9px 0px #edf3ff;
    box-shadow: 0px 9px 0px ##edf3ff;		
}

.case:active{
    -webkit-box-shadow: 0px 2px 0px #edf3ff;
    -moz-box-shadow: 0px 2px 0px #edf3ff;
    box-shadow: 0px 2px 0px #edf3ff;
    position:relative;
    top:7px;
}



.module{
	width: 100%;
    background-image:linear-gradient(#0073ad, #2f4480);
    height: 21.2%;
}

nav {
  background: url(../img/backmenu.jpg) no-repeat;
  background-size:100%;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  width: 250px;
    top: 24%;
    left: 18%;
    position: relative;
}

/*
nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);
}


nav ul li:hover {
  cursor: pointer;
  color: white;
}

*/

.openNav {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 50px;
  height: 50px;
  z-index: 9;
}
.openNav:hover {
  cursor: pointer;
}
.openNav .icon {
   transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  top: 20px;
  left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  left: 0px;
}
.openNav .icon:before {
  top: -11px;
}
.openNav .icon:after {
  top: 10px;
}

.openNav.open .icon {
  background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
  top: 0;
}
.openNav.open .icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a {
	text-decoration:none;
	
}

.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.7s;
  transition-timing-function: swing;
  background-color: white;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  overflow-y:auto;

  }
.wrapper.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(87%) translateY(52%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  bottom: 46%;
    height: 69%;
    right: 10%;
    width: 69%;
}	

.nextL{
	display: block;
    width: 20px;
    height: 20px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-width: 1px;
    position: relative;
    transform: rotate(225deg);
    left: 4%;
    top: 10px;
}

.nextR{
	display: block;
    width: 20px;
    height: 20px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-width: 1px;
    transform: rotate(45deg);
    position: relative;
    right: 4%;
    bottom:41px;
    float: right;
}

.energie{
	   font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 7px;
	
}

.def{
	width: auto;
    position: absolute;
    height: 120;
    left: 8%;
    top: 8%;
	
}

.comp{
	position: absolute;
    height: 130px;
    left: 42%;
    width: auto;
    top: 8%;
	
	
}

.fic{
	position: absolute;
    /* bottom: 2%; */
    height: 125;
    right: 8%;
    top: 8%;
    width: auto;
}

.defp{
	position: absolute;
    top: 15%;
    left: 9%;
    color: white;
    font-size: 25px;
}

.compp{
	position: absolute;
    left: 37%;
    top: 15%;
    font-size: 25px;
    color: white;
	
}

.ficp{
	position: absolute;
    top: 15%;
    font-size: 25px;
    color: white;
    right: 9%;
	
}

.dot1{
	list-style-type: disc;
    color: white;
    position: absolute;
    left: 13%;
    top: 19%;
    font-size: 28px;
}

.dot2{
	list-style-type: disc;
    color: white;
    position: absolute;
    left: 49%;
    top: 19%;
    font-size: 28px;
}

.dot3{
	list-style-type: disc;
    color: white;
    position: absolute;
    right: 13%;
    top: 19%;
    font-size: 28px;
}

.case div:active{
    -webkit-box-shadow: inset -10px 1px 10px 8px rgba(152, 180, 199, 0.65);
	background-color:white;
}

.imgvaleur{
	max-width: 100%;
    height: 70px;
    width: auto;
    position:absolute;
    left:40%;
    top:8%;
}

.imgsaur{
	position: absolute;
    right: 3%;
    top: 1%;
    height: 32px;
    width: auto;
}

.titremodule{
	font-size: 1.5em;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;
    color: white;
    font-family: "Roboto",sans-serif;
}

.ficheslide{
	height: 8.5%;
    width: 100%;
    background-color: #edf3ff;
    position: relative;
    bottom: 13px;
}

.titrefiche{
	text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #345994;
    font-size: 0.8em;
    position: relative;
    bottom: 25px;
    font-weight: 600;
}

.bookmark{
	width: 100%;
    height: 7.5%;
    background-color: #59e09e;
    position: relative;
    bottom: 12px;
}

.bfooter{
	height: 22%;
	width:100%;
	background-image:linear-gradient(#0073ad, #2f4480);
	
}

.headfiche{
	background-color: #0A609A;
	height:7.5%;
	width:100%;
}

.bar{
	height:8.5%;
	width:100%;
	background-image:linear-gradient(#0073ad, #2f4480);
}

.titrecate{
font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    color: white;
}

.interet{
	height: 48.9%;
    width: 100%;
    position: relative;
    background-color: white;
	overflow-x: hidden;
    overflow-y: auto;
}

ul li {
	padding:3%;
  
}

.fav{
	width: auto;
    height:20px;
    position: absolute;
    top: 19%;
    right: 50%;
}

.imgfoot1{
	width: auto;
    left: 10%;
    height: 40px;
    bottom: 3%;
    position: absolute;
}

.imgfoot2{
	width: auto;
    position: absolute;
    bottom: 3%;
    height: 40;
    left: 32%;
}

.imgfoot3{
	width: auto;
    position: absolute;
    height: 40;
    bottom: 3%;
    right: 32%;
}


.imgfoot4{
	width: auto;
    bottom: 3%;
    height: 40;
    position: absolute;
    right: 10%;
}

.titrefoot{
	text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.search{
	width: 100%;
    position: relative;
    height: 90px;
    text-align: center;
    font-size: 1em;
    background-color: #edf3ff;
	
}

.casesit{
	width:100%;
}

.imgmenu{
position: absolute;
    left: 0px;
    height: 50;
    width: auto;
}

.defvaleur{
	width: auto;
    position: absolute;
    height: 40px;
    left: 12%;
    top: 7%;
}

.defv{
	position: absolute;
    top: 12.5%;
    left: 13%;
    color: white;
    font-size: 0.8em;
}

.dotv{
	list-style-type: disc;
    color: white;
    position: absolute;
    left: 18%;
    top: 17.5%;
}

.compvaleur{
	position: absolute;
    height: 40;
    right: 24%;
    width: auto;
    top: 7%;
}

.compv{
	position: absolute;
    top: 12.5%;
    right: 6%;
    color: white;
    font-size: 0.8em;
}

.dotc{
	list-style-type: disc;
    color: white;
    position: absolute;
    right: 26.5%;
    top: 17.5%;
}

.titreindex{
	position: relative;
	font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #2e427e;
}

.txtfiche{
   font-family: 'Roboto', sans-serif;
    color: #2e427e;
    font-size: 1em;
    display: list-item;
    width: 260;
    padding: 17px;
    left: 6%;
    position: relative;
}

.ulfiche{
    left: 5%;
    position: relative;
    color: #2e427e;
}

blockquote {
 background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 0.8em;
    font-family: roboto sans-serif;
    font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.limenu{
	    transition-duration: 0.25s;
    display: block;
    padding: 26px;
    font-size: 1em;
    color: white;
    letter-spacing: 0.02em;
}

.chezsaur{
	 font-size: 1em;
    position: relative;
    left: 10px;
    width: 288px;
    color: #2e427e;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}



.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}


.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

/* Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: grey;
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(1);
    opacity: 0;
    }
}

.txtpro{
	font-family: 'Roboto', sans-serif;
    color: #2e427e;
    width: 260;
    left: 5%;
    position: relative;
}

.nextRcomp{
  display: block;
width: 20px;
height: 20px;
border-top: 1px solid grey;
border-right: 1px solid grey;
border-width: 1px;
transform: rotate(45deg);
position: absolute;
right: 5%;
top: 9%;
float: right;
}

.nextLcomp{
  display: block;
width: 20px;
height: 20px;
border-top: 1px solid grey;
border-right: 1px solid grey;
border-width: 1px;
position: absolute;
transform: rotate(225deg);
top: 9%;
left: 5%;
}

.titrecompvaleur{
 position: absolute;
    right: 5%;
    top: 12.5%;
    font-size: 0.8em;
    color: white;
}

.arrowl {
   font-size: 2em;
    position: absolute;
    color: white;
   position:absolute;
   left:2%;
   top:0;
}

body{
  margin:0;
}

.competence_m{
  font-size:1em;
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

.app {
    background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 42%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

  .competence_m{
  font-size:0.2em;
}

.app {
    background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 42%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}
}



/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

.app {
    background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 42%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

.app {
    background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 42%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

}



/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

.app {
    background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 42%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {


}



/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .case p {
        font-size: 2.2em;
    }

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .case p {
        font-size: 2.2em;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .case p {
        font-size: 2.2em;
    }
}



/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .case p {
        font-size: 2.5em;
    }

    .titreindex {

      font-size: 1.5em;
    }

    .imgvaleur {
    max-width: 100%;
    height: 120px;
    width: auto;
    position: absolute;
    left: 43%;
    top: 8%;
    }

    .titremodule {
    font-size: 3em;
    margin: 0 auto;
    padding-top: 11px;
    text-align: center;
    color: white;
    font-family: "Roboto",sans-serif;
}

.imgsaur {
    position: absolute;
    right: 2%;
    top: 1%;
    height: 59px;
    width: auto;
}

.bando p {
    font-size: 2em;
    margin: 63px;
    color: #304682;
    font-family: 'Roboto', sans-serif;
}

.openNav .icon:before, .openNav .icon:after {
    transition-duration: 0.5s;
    background-color: white;
    position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    left: 0px;
}

.openNav .icon {
    transition-duration: 0.2s;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: white;
    top: 31px;
    left: 10px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .case p {
        font-size: 2em;
    padding: 32px;
    }

}


.toto{
  height:11%;
  border: 1px solid grey;
  padding-left:5%;
  padding-top:10%;
  font-size: 1em;
  font-weight: 600;
  color: #2e427e;
}


.fav_plein{
  background-image:url(../img/fav.png) no-repeat;
  
}

.delete{
  margin-right: 20px;
}