/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.background{
	
}

body {
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
	margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
   background: url(../img/logo.png) no-repeat center top;
    position: absolute;
    left: 50%;
    top: 60%;
    background-size: 62%;
    height: 38px;
    width: 209px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -115px 0px 0px -112px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.bloc1{
	margin-left:200px;
	margin-right:200px;
	
}

img{
	width:100%;
	height:auto;
	
}

.valeur{
	left: 15%;
    position: absolute;
    top: 23%;
    width: 20%;
	
}
.competence{
    right: 20%;
    top: 23%;
    width: 20%;
    position: absolute;
	
}

.actualite{
	position: absolute;
    left: 5%;
    width: 20%;
    bottom: 31%;
	
}

.favoris{
	position: absolute;
    bottom: 29%;
    width: 20%;
    right: 10%;
}

.solutions{
	position: absolute;
    bottom: 22%;
    width: 20%;
    left: 37%;
}

.bando{
	width:100%;
	height:13%;
	text-align:center;
	background-color: rgba(219, 232, 251, 0.81);
	font-size:-webkit-xxx-large;
}

.case p{
	position:absolute;
	left:10%;
	font-size: -webkit-xxx-large;
	
	
}

.bando p {
	padding: 8%;
	
}

.case{
	width:100%;
	height: 12.52%;
	text-align:center;
	text-transform:uppercase;
	border: 1px solid grey;
	
}



.module{
	width:100%;
	height:21.2%;
}

nav {
  background: url(../img/backmenu.jpg) no-repeat;
  background-size:100%;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  width: 250px;
  top:34%;
  position:relative;
}
nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);
}
nav ul li {
  transition-duration: 0.25s;
  display: block;
  padding: 51px;
  font-size: 97px;
  color: white;
  letter-spacing: 0.02em;
}
nav ul li:hover {
  cursor: pointer;
  color: white;
}

.openNav {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left:2%;
  z-index: 9;
}
.openNav:hover {
  cursor: pointer;
}
.openNav .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 24px;
  left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 0px;
}
.openNav .icon:before {
  top: -7px;
}
.openNav .icon:after {
  top: 7px;
}

.openNav.open .icon {
  background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
  top: 0;
}
.openNav.open .icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a {
	text-decoration:none;
	
}

.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.7s;
  transition-timing-function: swing;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;

  }
.wrapper.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(87%) translateY(52%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}	

.nextL{
	font-size: 89px;
    position: absolute;
    color: rgba(236, 214, 214, 0.5);
    font-weight: 100;
    font-family: monospace;
	left: 6%;
    bottom: 78%;
	
}

.nextR{
	font-size: 89px;
    position: absolute;
    color: rgba(236, 214, 214, 0.5);
    font-weight: 100;
    font-family: monospace;
    right: 6%;
    bottom: 78%;
}

.energie{
	margin: auto;
    left: 28%;
    font-size: 21px;
    color: white;
    position: absolute;
    font-family: "Roboto";
    font-weight: bold
	
}

.def{
	
	
}

.comp{
	
	
}

.fic{
	
	
}