body{background:whitesmoke; font:10pt Arial, Helvetica, sans-serif;}

#page{width:670px; margin:50px auto;position:relative;}

.box{background-color:white; border-radius:7px; box-shadow:0 4px 18px #C8C8C8; padding:15px 15px 7px; color:#555;}

.box p{margin-top:0;}

h1{margin:0 0 5px;}

hr{border:0; border-top:1px solid gainsboro; margin-top:10px;}
